.button-anchor--icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-anchor--icon--normal {
	inline-size: 48px;
	block-size: 48px;
	@media (--phone-576) {
		inline-size: 34px;
		block-size: 34px;
	}
}

.button-anchor--icon--medium {
	inline-size: 64px;
	block-size: 64px;
}
