.form-item {
	position: relative;
}

.form-item__error {
	position: absolute;
	inset-block-start: 5px;
	inset-inline-start: 29px;

	margin-block: 0;

	color: var(--color-text-alert);
	font-size: 14px;

	pointer-events: none;
}
