:root {
	--color-background-primary: rgb(255 255 255);
	--color-background-brand: rgb(245 221 67);
	--color-background-brand-secondary: rgb(255 213 81);
	--color-background-brand-tertiary: rgb(255 190 56);
	--color-background-interactable--hover: rgb(255 213 81);
	--color-background-interactable--active: rgb(255 203 42);
	--color-background-interactable--active-secondary: rgb(245 221 67);
	--color-background-secondary: rgb(13 23 36);
	--color-background-tertiary: rgb(247 247 247);
	--color-background-tertiary--active: rgb(241 241 241);
	--color-background-tab-after: rgb(92 92 92);
	--color-background-tab-after-current: rgb(219 219 219);
	--color-background-form-item--focus: rgb(244 244 244);
	--color-background-button-menu: rgb(0 0 0);
	--color-background-button-contact--active: rgb(255 190 55);
	--color-background-challenge-summary-detail-button-after: rgb(176 176 177);
	--color-background-experience-slider-container: rgb(248 248 248);
	--color-background-experience-slider-container-bullet: rgb(214 214 214);
	--color-background-experience-slider-container-bullet--active: rgb(253 205 53);

	--color-text-primary: rgb(13 23 36);
	--color-text-interactable: rgb(51 51 51);
	--color-text-interactable-current: rgb(255 213 81);
	--color-text-interactable--hover: rgb(255 213 81);
	--color-text-interactable--hover-secondary: rgb(245 221 67);
	--color-text-interactable--active: rgb(255 203 42);
	--color-text-alert: rgb(236 14 14);
	--color-text-contrast: rgb(255 255 255);
	--color-text-secondary: rgb(0 25 53);
	--color-text-tertiary: rgb(219 219 219);
	--color-text-tab: rgb(219 219 219);
	--color-text-trials-link: rgb(252 252 252);
	--color-text-trials-link--hover: rgb(51 51 51);
	--color-text-trials-gallery-week-name-mobile: rgb(255 213 81);
	--color-text-experience-slider-container-pagination: rgb(162 162 162);
	--color-text-slider-pagination-current: rgb(12 23 36);
	--color-text-trials-title: rgb(253 252 252);

	--color-stroke-primary: rgb(247 247 247);
	--color-stroke-primary--hover: rgb(0 25 53);
	--color-stroke-primary--active: rgb(0 25 53);
	--color-stroke-primary--focus: rgb(0 25 53);
	--color-stroke-interactable-current: rgb(255 213 81);
	--color-stroke-interactable--hover: rgb(255 213 81);
	--color-stroke-alert: rgb(236 14 14);
	--color-stroke-contrast: rgb(255 255 255);
	--color-stroke-contrast-016: rgb(255 255 255 / 0.16);
	--color-stroke-form-item: rgb(208 208 208);
	--color-stroke-form-item-placeholder: rgb(51 51 51);
	--color-stroke-form-item--hover: rgb(131 131 131);
	--color-stroke-form-item--focus: rgb(131 131 131);
	--color-stroke-button-contact: rgb(239 239 240);
	--color-stroke-button-contact--active: rgb(255 190 55);
	--color-stroke-trials-link: rgb(53 60 70);


	--size-layout-min-inline: calc(320px - (2 * var(--size-base-padding-inline)));
	--size-layout-max-inline: calc(1920px - (2 * var(--size-base-padding-inline)));
	--size-base-padding-inline: 8.1vw;
	@media (--desktop-large) {
		--size-base-padding-inline: 157px;
	}
	@media (--desktop-1300) {
		--size-base-padding-inline: 5vw;
	}
	@media (--tablet) {
		--size-base-padding-inline: 15px;
	}
}

