/* OpenSans-Regular в app.html */

@font-face {
	font-family: "Golos Text";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../../../assets/fonts/GolosText-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "Golos Text";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../../../assets/fonts/GolosText-SemiBold.woff2") format("woff2");
}
